
#progress{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    display: block;
}​

html, body {
    height: 100%;
    margin: 0;
}

#chart {
min-height: 100%;
}